<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78180812860-1r5r8lngj7jtk5uaj67dbrp1fho42qtt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78180812860-1r5r8lngj7jtk5uaj67dbrp1fho42qtt</string>
	<key>API_KEY</key>
	<string>AIzaSyBiZOf51KsokAlSxvZKEyNJrriiUI7MbPc</string>
	<key>GCM_SENDER_ID</key>
	<string>78180812860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linadeveloper004.CamCount</string>
	<key>PROJECT_ID</key>
	<string>group-11-fall2022-spring2023</string>
	<key>STORAGE_BUCKET</key>
	<string>group-11-fall2022-spring2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78180812860:ios:09976843b46cd90ef0db39</string>
</dict>
</plist>